.area {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 315px;
  margin: 5px;
}

.estrutura {
  display: flex;
  width: 90%;
  flex-grow: 1;
  border-left: 5px solid brown;
  border-right: 5px solid brown;
  border-top: 5px solid brown;
}

.porta {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: chocolate;
  align-items: center;
  padding: 15px;
}

.numero {
  font-size: 3rem;
}

.macaneta {
  position: absolute;
  top: 140px;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: brown;
}

.chao {
  height: 10px;
  width: 100%;
  background-color: #ddd;
}
