.area {
  display: flex;
  width: var(--area-porta-largura);
  height: var(--area-porta-altura);
}

.estrutura {
  display: flex;
}

.porta {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: chocolate;
  align-items: center;
  padding: 15px;
}

.numero {
  font-size: 3rem;
}
