.area {
  display: flex;
  width: 200px;
  height: 315px;
}

.estrutura {
  display: flex;
  flex-grow: 1;
  border-left: 5px solid brown;
  border-right: 5px solid brown;
  border-top: 5px solid brown;
}

.porta {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: chocolate;
  align-items: center;
  padding: 15px;
}

.numero {
  font-size: 3rem;
}

.chao {
  height: 10px;
  width: 100%;
  background-color: #ddd;
}
